<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ef7135c1-6832-4d21-be5a-e4f3213f2fc7" Alias="contentPage" Level="3">
  <Info>
    <Name>Inhaltsseite mit Modulfeld</Name>
    <Icon>icon-thumbnail-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="846ab079-dc40-4d72-aaa6-b274ba91145a">articlePage</Parent>
    <Compositions>
      <Composition Key="846ab079-dc40-4d72-aaa6-b274ba91145a">articlePage</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dd12432a-f411-441c-8c1b-93a3d5813190">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ef7135c1-6832-4d21-be5a-e4f3213f2fc7" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c8e87f34-421b-4727-8c3a-fca02bf74335</Key>
      <Name>Hauptinhalts Module</Name>
      <Alias>modules</Alias>
      <Definition>2aba5fca-46ab-457e-8d4f-76b299e6032d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Diese Inhaltsmodule, welche im Hauptinhaltsbereich der Seite gerendert.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="inhaltsdaten">Inhaltsdaten</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4693589c-8718-469f-b58e-67eb38a2a493</Key>
      <Caption>Inhaltsdaten</Caption>
      <Alias>inhaltsdaten</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>