<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a80f6f69-e3d2-4bf3-bba9-09bee776c207" Alias="theme" Level="2">
  <Info>
    <Name>Theme</Name>
    <Icon>icon-theater color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c80b4089-2f6c-4b4c-a9fd-9acde6ac1627</Key>
      <Name>backgroundColor</Name>
      <Alias>backgroundColor</Alias>
      <Definition>a614d086-894f-4a3b-96c7-9328803e8aa4</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="colors">Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>862d9ad4-1fa1-4643-b761-a689b0ab7cae</Key>
      <Name>color</Name>
      <Alias>color</Alias>
      <Definition>a614d086-894f-4a3b-96c7-9328803e8aa4</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="colors">Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>37348b48-783f-4781-a5d5-71a75e0126ee</Key>
      <Name>footerBackgroundColor</Name>
      <Alias>footerBackgroundColor</Alias>
      <Definition>a614d086-894f-4a3b-96c7-9328803e8aa4</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="colors">Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>374b03a8-a133-4287-84a3-54cb31a69643</Key>
      <Name>footerColor</Name>
      <Alias>footerColor</Alias>
      <Definition>a614d086-894f-4a3b-96c7-9328803e8aa4</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="colors">Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>230d1864-68f8-41b2-82a2-62408518901b</Key>
      <Name>FooterColorHover</Name>
      <Alias>footerColorHover</Alias>
      <Definition>a614d086-894f-4a3b-96c7-9328803e8aa4</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="colors">Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>597c4cd7-f2b2-4fec-8b07-353c79ec3ead</Key>
      <Name>headerBackgroundColor</Name>
      <Alias>headerBackgroundColor</Alias>
      <Definition>a614d086-894f-4a3b-96c7-9328803e8aa4</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="colors">Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cc5de075-4c6b-4d9c-bcc0-4c2e5af18cf0</Key>
      <Name>navigationBackgroundColor</Name>
      <Alias>navigationBackgroundColor</Alias>
      <Definition>a614d086-894f-4a3b-96c7-9328803e8aa4</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="colors">Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>95b51669-51f7-4c49-b5e7-bc91a4966ac8</Key>
      <Name>navigationBackgroundColorHover</Name>
      <Alias>navigationBackgroundColorHover</Alias>
      <Definition>a614d086-894f-4a3b-96c7-9328803e8aa4</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="colors">Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7792b38f-b6ca-473d-87fa-98b49d918d07</Key>
      <Name>navigationColor</Name>
      <Alias>navigationColor</Alias>
      <Definition>a614d086-894f-4a3b-96c7-9328803e8aa4</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="colors">Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b603e41-a74b-4d7c-bb5d-1e9b80338ccb</Key>
      <Name>navigationColorHover</Name>
      <Alias>navigationColorHover</Alias>
      <Definition>a614d086-894f-4a3b-96c7-9328803e8aa4</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="colors">Colors</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5a603e3e-b746-447b-a855-a11f4dda87a3</Key>
      <Caption>Colors</Caption>
      <Alias>colors</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>