<?xml version="1.0" encoding="utf-8"?>
<Media Key="a96f8d8b-4f80-4c9a-93df-919fd3937835" Alias="Download" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Download</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-03T20:24:05</CreateDate>
    <NodeName Default="Download" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rwgh5kma/download.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>