<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5c8dff5-6e60-44ac-9db4-02d3efd72773" Alias="Imagegen" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imagegen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-05T11:44:42</CreateDate>
    <NodeName Default="Imagegen" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4ppnrvla/imagegen.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>