<?xml version="1.0" encoding="utf-8"?>
<Media Key="59ae3ffa-c6e7-4e4f-9009-61c524a1350a" Alias="Logo (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-05T09:46:31</CreateDate>
    <NodeName Default="Logo (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5q5l2wph/logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>