<?xml version="1.0" encoding="utf-8"?>
<Media Key="fea2b8ce-3db0-42bd-82fe-c7f60e4d8e4c" Alias="Logo (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-05T11:44:39</CreateDate>
    <NodeName Default="Logo (2)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zc2kf5vq/logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>