<?xml version="1.0" encoding="utf-8"?>
<Media Key="21ebef64-d735-4b1a-aa3a-2208afb0d32b" Alias="Microsoft .NET Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MicrosoftNETLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-11-03T20:26:55</CreateDate>
    <NodeName Default="Microsoft .NET Logo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kxxpwijv/microsoft_net_logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>