<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a6fdc44-908a-4e9c-8f8e-79f6a6b471c2" Alias="Sample MP4 Video File For Testing (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SampleMP4VideoFileForTesting1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2022-11-04T09:00:28</CreateDate>
    <NodeName Default="Sample MP4 Video File For Testing (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ntog4ouk/sample-mp4-video-file-for-testing-1.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>