@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Sss.Umb9.Mutobo.PageModels.ContentPage>
@{
	Layout = "Master.cshtml";
}

@await Html.PartialAsync("~/Views/Partials/ArticleContent.cshtml", Model as Sss.Umb9.Mutobo.PageModels.ArticlePage)


<div>
    @if (Model.Modules != null && Model.Modules.Any())
    {
        foreach (var module in Model.Modules)
        {
            if (module.SpacerBeforeModule)
            {
                <div class="spacer"></div>
            }

            @await module.RenderModule(this.Html)

            if (module.SpacerAfterModule)
            {
                <div class="spacer"></div>
            }
        }
    }
</div>
