<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bcfd6589-18af-4215-bcbc-2cd7526d6790" Alias="Basis Seite - Nested Content" Level="1">
  <Info>
    <Name>Basis Seite - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "callToActionButton",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>