<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d91454f4-3a97-42bf-a113-de01b308dcba" Alias="Basis Seite - notClickable - Toggle" Level="1">
  <Info>
    <Name>Basis Seite - notClickable - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>