<?xml version="1.0" encoding="utf-8"?>
<DataType Key="843545cb-1b13-41aa-a03f-6aa440671012" Alias="Contact Form - Multinode Treepicker" Level="1">
  <Info>
    <Name>Contact Form - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "",
    "id": null
  },
  "Filter": "mailConfiguration",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>