<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5c426e0d-e20c-4b4f-9fd0-ddd8f23e4263" Alias="Contact Form - LandingPage - Content Picker" Level="1">
  <Info>
    <Name>Contact Form - LandingPage - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>