<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a614d086-894f-4a3b-96c7-9328803e8aa4" Alias="Fuchs Holzbau" Level="1">
  <Info>
    <Name>Fuchs Holzbau</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"666666\",\"label\":\"666666\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"c57d1a\",\"label\":\"c57d1a\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>