<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2aba5fca-46ab-457e-8d4f-76b299e6032d" Alias="Module Field" Level="1">
  <Info>
    <Name>Module Field</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "",
      "ncAlias": "teaser",
      "ncTabAlias": "Module Settings"
    },
    {
      "nameTemplate": "",
      "ncAlias": "heading",
      "ncTabAlias": "Module Settings"
    },
    {
      "nameTemplate": "",
      "ncAlias": "videoComponent",
      "ncTabAlias": "Module Settings"
    },
    {
      "nameTemplate": "",
      "ncAlias": "richTextComponent",
      "ncTabAlias": "Module Settings"
    },
    {
      "nameTemplate": "",
      "ncAlias": "sliderComponent",
      "ncTabAlias": "Module Settings"
    },
    {
      "nameTemplate": "",
      "ncAlias": "pictureModule",
      "ncTabAlias": "Module Settings"
    },
    {
      "nameTemplate": "",
      "ncAlias": "blogModule",
      "ncTabAlias": "Module Settings"
    },
    {
      "nameTemplate": "",
      "ncAlias": "quote",
      "ncTabAlias": "Module Settings"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>