<?xml version="1.0" encoding="utf-8"?>
<DataType Key="300ce175-36c8-4ee5-9234-e1877ca6b94e" Alias="Theme - color - Color Picker" Level="1">
  <Info>
    <Name>Theme - color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"9fc5e8\",\"label\":\"9fc5e8\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"f6b26b\",\"label\":\"f6b26b\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"f3f6f4\",\"label\":\"f3f6f4\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"666666\",\"label\":\"666666\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>