<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e6be735b-9785-4195-b3c1-910b3edd8292" Alias="Theme - backgroundColor - Color Picker (1)" Level="1">
  <Info>
    <Name>Theme - backgroundColor - Color Picker (1)</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"0a7fe9\",\"label\":\"383232\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"38761d\",\"label\":\"38761d\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"601d1d\",\"label\":\"601d1d\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"f5ece3\",\"label\":\"f5ece3\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>