<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a032f66-ce12-4b3c-a5cf-19b8801b1022" Alias="Theme - footerBackgroundColor - Color Picker" Level="1">
  <Info>
    <Name>Theme - footerBackgroundColor - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"c57d1c\",\"label\":\"c57d1c\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>