<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d6dae346-b366-43f1-b5d4-52ef072e3b9d" Alias="Wrapper - Nested Content" Level="1">
  <Info>
    <Name>Wrapper - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "flipTeaser",
      "ncTabAlias": "Flip Teaser",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 2,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>